.errorHeader {
    //font-weight: bold;
    color: red;
    //visibility: hidden;
    display: none;
}

.modal-backdrop {
    z-index: 1020!important;
}

.buttons
{
    display: flex;
    flex-direction: row;
}




#demo {
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

#demo img {
    border: 0;
}

#demo h1,
#demo h3 {
    font-weight: normal;
    line-height: 1em;
    color: #545454;
    letter-spacing: -0.04em;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none !important;
    white-space: nowrap;
}

#demo h1 {
    font-size: 3em;
    position: relative;
    top: 8px;
}

#demo .filtered {
    display: none !important;
}

#viewHeader {
    position: relative;
    height: 35px;
}

#viewHeader section.left {
    display: block;
    float: left;
    width: 200px;
    position: relative;
    padding-left: 20px;
}

#viewHeader section.right {
    display: block;
    float: right;
    margin-right: 10px;
    width: 400px;
    text-align: right;
}

.hasPrice:before {
    content: attr(data-currencysym) " ";
}

.hasPrice:after {
    content: " " attr(data-currencycode);
}

#pager {
    width: 100%;
    text-align: center;
    font-size: 1.35em;
}

#tablesearch {
    font-size: 1.5em;
}

#ts-view {
    width: 100%;
    display: block;
}

#ts-view-toolbar {
    display: inline-block;
}

.ts-view-switcher {
    font-size: 24px;
    color: #fff;
    padding-left: 5px;
}

.ts-view-switcher:last-child {
    padding-right: 15px;
}

.ts-view-switcher i,
.mybutton {
    padding: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 1px #777;
    box-shadow: 0 1px 2px 0 #777;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    background: rgb(70, 74, 88);
    background: -webkit-linear-gradient(top, rgba(70, 74, 88, 1) 0%, rgba(43, 47, 58, 1) 100%);
    background: linear-gradient(to bottom, rgba(70, 74, 88, 1) 0%, rgba(43, 47, 58, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#464a58', endColorstr='#2b2f3a', GradientType=0);
}

.ts-view-switcher:hover i,
.mybutton:not(.nohover):hover {
    background: rgb(252, 172, 94);
    background: -webkit-linear-gradient(top, rgba(252, 172, 94, 1) 0%, rgba(221, 135, 49, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 172, 94, 1) 0%, rgba(221, 135, 49, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcac5e', endColorstr='#dd8731', GradientType=0);
}

.ts-view-switcher.active i,
.mybutton.active {
    background: rgb(235, 181, 111);
    background: -webkit-linear-gradient(top, rgba(235, 181, 111, 1) 0%, rgba(203, 145, 68, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 181, 111, 1) 0%, rgba(203, 145, 68, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ebb56f', endColorstr='#cb9144', GradientType=0);
}

.mybutton {
    margin-left: 8px;
    padding: 8px;
    width: 100px;
    cursor: pointer;
}


/** grid view **/
ul.grid {
    list-style: none;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 1000px;
}

ul.grid li {
    position: relative;
    display: inline-table;
    width: 210px;
    height: 200px;
    border-right: 1px solid #b6bdbe;

    padding: 5px 22px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



/*ul.grid li section.left h3 {*/
/*    font-family: "Trebuchet MS", Arial, sans-serif;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #707375;*/
/*    font-size: 1.4em;*/
/*    line-height: 1.5em;*/
/*}*/

/*ul.grid li section.left span.meta {*/
/*    display: block;*/
/*    color: #93989b;*/
/*    font-weight: normal;*/
/*    font-size: 1.1em;*/
/*    margin-bottom: 7px;*/
/*}*/

/*ul.grid li section.right span.price {*/
/*    font-weight: bold;*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*    color: #ad3939;*/
/*    font-size: 1.75em;*/
/*}*/

/*ul.grid li section.right span.darkview {*/
/*    opacity: 0;*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 190px;*/
/*    height: 100%;*/
/*    margin: 0 15px;*/
/*    border-radius: 6px;*/
/*    background: rgba(40, 45, 55, 0.75);*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*    padding-top: 35px;*/
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    transition: opacity 0.2s linear 0s;*/
/*    -webkit-transition: opacity 0.2s linear 0s;*/
/*}*/

/*ul.grid li:hover section.right span.darkview {*/
/*    opacity: 1;*/
/*}*/

/*ul.grid li section.right span.darkview a.firstbtn {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*}*/

/** clearfix **/
/*.clearfix:after {*/
/*    content: ".";*/
/*    display: block;*/
/*    clear: both;*/
/*    visibility: hidden;*/
/*    line-height: 0;*/
/*    height: 0;*/
/*}*/

/*.clearfix {*/
/*    display: inline-block;*/
/*}*/

/*html[xmlns] .clearfix {*/
/*    display: block;*/
/*}*/

/** html .clearfix {*/
/*    height: 1%;*/
/*}*/

.image
{
    margin-right: 10px;
    width: 80px;

}
